

.small-table-wrapper thead th{
    background-color: rgb(241, 255, 242);
    margin-top: 100px; 
  }
  
  .small-table-wrapper{
    margin-top: 40px; 
  }
  
    .small-table-wrapper tbody td {
      background-color: #E3F4F4; 
  
  
    }

    Table{
      margin-top: 70px; 
    }




    .doctor-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border: 3px solid #2448e6;
      border-radius: 10px;
    background:url(https://i.pinimg.com/564x/8b/fc/d0/8bfcd085b7a75fd29768701c8cd545d6.jpg);
    background-size: cover;
      max-width: 300px; 
      margin-top: 70px;
      margin-left: 490px;
      transition: transform 0.2s; 
    }


    .doctor-card :hover{
      transform: scale(1.07); 
    }

   

    .doctor-card h2 {
      font-size: 22px;
      font-weight: bold;
      color: #1f43e0;
      margin: 0;
      font-family:'Times New Roman', Times, serif;
      margin-bottom: 10px;
    }

    .doctor-card img {
      width: 140px; 
      height: 100px; 
      border-radius: 50%;
       margin-bottom: 10px;
       
       /* margin-top: 20px; */
    }